<!-- <app-feebcak></app-feebcak> -->
<app-nav-bar></app-nav-bar>




<div class="image">

    <div>
      <h3><b> Pagination In Angular Using API</b></h3>
    </div>
    <div class="user">
    <button (click)="getUsers()" class="btn btn-danger">Get Users</button>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>UserId</th>
          <th>Id</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of data | paginate: { id: 'listing_pagination',
        itemsPerPage :10,
        currentPage:page,
        totalItems: totalRecords}">
    <td>{{detail.userId}}</td>
    <td>{{detail.id}}</td>
    <td>{{detail.title}}</td>
        </tr>
      </tbody>
    </table>
    
    <div>
      <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
    </div>
    
    </div>
    <br>
    <br>
    <app-footer></app-footer>